.button {
	background-color: #000000;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 900;
	cursor: pointer;
	transition: background-color 0.3s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button:hover {
	background-color: #333333;
}

.button:disabled {
	background-color: #777777;
	cursor: not-allowed;
}
