.selectorWrapper {
	position: relative;
	width: 100%;
	max-width: 280px;
	font-family: "Arial", sans-serif;
}

.selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	cursor: pointer;
	transition: border-color 0.2s ease;

	height: 39px;
}

.selector:hover {
	border-color: #888;
}

.icon {
	width: 8px;
	height: 8px;
	border-right: 2px solid #333;
	border-bottom: 2px solid #333;
	transform: rotate(45deg);
	transition: transform 0.2s ease;

	margin-bottom: 4px;
}

.open {
	transform: rotate(-135deg);
	margin-bottom: 0;
}

.dropdown {
	position: absolute;
	top: 105%;
	left: 0;
	right: 0;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: auto;
	z-index: 10;
	max-height: 40vh;
}

.dropdown::-webkit-scrollbar {
	width: 6px;
}

.dropdown::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}

.dropdown::-webkit-scrollbar-thumb {
	background-color: #b0b0b0;
	border-radius: 10px;
}

.dropdown::-webkit-scrollbar-thumb:hover {
	background-color: #8c8c8c;
}

.dropdownItem {
	padding: 10px 15px;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.dropdownItem:hover {
	background-color: #f5f5f5;
}

.active {
	background-color: #eaeaea;
	font-weight: bold;
}

.noResults {
	padding: 10px 15px;
	color: #888;
	font-style: italic;
}

.input {
	width: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	color: #333;
	font-size: 14px;
}

@media (max-width: 768px) {
	.selectorWrapper {
		max-width: 180px;
	}

	.ActiveSelector {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 80%;
		display: block;
	}
}

@media (max-width: 468px) {
	.selectorWrapper {
		max-width: 160px;
	}
}
