.container {
	width: 100%;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	color: #4a4a4a;
	font-size: 34px;
	font-weight: 900;
	margin: 40px 0;
}

.walletsContainer {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	gap: 20px;
	width: 100%;
	max-width: 700px;
}

@media (max-width: 768px) {
	.walletsContainer {
		max-width: 400px;
	}
}

@media (max-width: 468px) {
	.walletsContainer {
		max-width: 300px;
	}
}
