.container {
	width: 100%;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.title {
	color: #4a4a4a;
	font-size: 34px;
	font-weight: 900;
	margin: 40px 0;
}

.balanceContainer {
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	gap: 20px;
	width: 100%;
	max-width: 700px;
}

.ctaContainer {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.goBackContainer {
	width: 100%;
	display: flex;
	justify-content: start;
}

.goBackButton {
	display: flex;
	justify-content: start;
	align-items: center;
	background-color: transparent;
	border: none;
	color: #000;
	cursor: pointer;
	opacity: 1;
	font-size: 14px;
	font-weight: 900;

	transition: opacity 0.3s ease;
}

.goBackButton:hover {
	opacity: 0.7;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.form button {
	margin-top: 20px;
}

@media (max-width: 768px) {
	.balanceContainer {
		max-width: 400px;
	}
}

@media (max-width: 468px) {
	.balanceContainer {
		max-width: 300px;
	}
}