.navbar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 10px 20px;
	height: 71px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
	position: absolute;
	font-size: 30px;
	font-weight: 900;
	width: calc(100% - 40px);
	text-align: center;
	color: #333333;
}

.navItems {
	display: flex;
	gap: 20px;
}

.navItem {
	font-size: 16px;
	font-weight: 500;
	color: #555;
	cursor: pointer;
	transition: color 0.2s ease;
}

.navItem:hover {
	color: #007bff;
}

.active {
	color: #007bff;
}
