.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal {
	position: relative;
	background: white;
	border-radius: 12px;
	overflow: hidden;
	min-width: 400px;
	padding: 26px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.closeButton {
	position: absolute;
	top: 32px;
	right: 32px;
	background: transparent;
	border: none;
	font-size: 20px;
	cursor: pointer;
	transition: 0.3s;

	display: flex;
	justify-content: center;
	align-items: center;
}

.closeButton:hover {
	color: red;
}

@media (max-width: 768px) {
	.modal {
		min-width: 300px;
		padding: 26px;
	}

	.title {
		font-size: 18px;
	}

	.closeButton {
		top: 26px;
		right: 26px;
	}
}

@media (max-width: 310px) {
	.modal {
		min-width: 280px;
		padding: 18px;
	}
}
