/* WalletCard.module.css */
.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 12px 16px;
	transition: border-color 0.3s;

	width: 100%;
	height: 57px;
}

.leftSection {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.name {
	font-weight: 600;
}

.nativeTag {
	color: rgba(153, 153, 153, 0.8);
	font-weight: 800;
	font-size: 14px;
}

.rightSection {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.value {
	font-weight: 600;
	font-size: 14px;
}

.iconButton img {
	width: 20px;
	height: auto;
}

.iconButton {
	cursor: pointer;
	background-color: transparent;
	border: none;
	padding: 4px;
}

.iconButton:hover {
	background-color: #e7e7e7;
	border-radius: 4px;
}
